  @font-face {
   font-family:"Gilroy";
   src:local("Gilroy Light"),local("Gilroy-Light"),url(../fonts/Gilroylight.woff2) format("woff2"),url(../fonts/Gilroylight.woff) format("woff");
   font-weight:300;
   font-style:normal
  }
  @font-face {
   font-family:"Gilroy";
   src:local("Gilroy ExtraBold"),local("Gilroy-ExtraBold"),url(../fonts/Gilroyextrabold.woff2) format("woff2"),url(../fonts/Gilroyextrabold.woff) format("woff");
   font-weight:800;
   font-style:normal
  }

body{
  margin:0;
  padding:0;
  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  color: #000000;
  background-color: #ffffff;
}

a{
  text-decoration: none;
  color:#000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*группа поиск по сайту*/
.header-search{
  padding-left:39px;
  position: relative;
  font-size: 0;
}

.header-search::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 2px;
  width: 24px;
  height: 24px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

/*кнопка поиск по сайту*/
.button-search{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size:15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  vertical-align: middle;
  border: none;
  padding: 7px 0;
  padding-right: 180px;
  opacity: 0.3;
  background-color: #f7e296;
}

.button-search:hover{
  opacity: 0.6;
}

.button-search:focus{
  border-bottom: 2px solid #000000;
  outline: 0;
  opacity: 1;
}

.header-search:active .submit{
  visibility: visible;
}

.button-search:focus + .submit{
  visibility: visible;
}

.search-item input:focus + .search-button {
  visibility: visible;
}

/*кнопка найти*/
 .submit{
  width: 85px;
  min-height: 48px;
  padding: 0;
  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.submit:hover {
  color: #ffffff;
  background-color: #000000;
}

.submit:active {
  color: rgba(255,255,255,0.3);
  background-color: #000000;
  visibility: visible;
}

.user-navigation-color{
  background-color: #f7e296;
  padding: 0 60px;
}

/*Войти сравнить корзина*/
.user-navigation{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.main-logo{
  cursor: pointer;
}

.main-logo:hover,
.user-navigation a:hover,
.catalog-nav a:hover,
.site-nav a:hover{
  opacity: 0.6;
}

.user-navigation a:focus,
.site-nav a:focus {
  opacity: 0.6;
}

.main-logo:active,
.catalog-nav a:active,
.site-nav a:active{
  opacity: 0.3;
}

/*Каталог товаров*/
.main-navigation{
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
}

.header-search ul{
  list-style: none;
  padding:0;
}

.catalog-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.user-navigation,
.footer-social li {
  list-style: none;
  margin:0;
  padding:0;
}

.site-navigation-current{
  list-style: none;
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  margin-right: 25px;
}

.site-navigation-current:nth-last-child(1){
  margin-right: 0;
}

.features h2{
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  margin:0;
  margin-bottom: 20px;
}

/*описание шрифт open suns light*/
.description-common{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color:#464646;
  letter-spacing: 0.01em;
  padding:0;
  margin:0;
  position: relative;
}

.filter fieldset,
.features fieldset{
  border: none;
}

/*ссылки Подробнее*/

.features{
  width: 560px;
}

.features-details{
  display: inline;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  top:51px;
  left:33px;
  z-index: 2;
  padding: 10px 10px;
  cursor:pointer;
}

.features-details:active{
  color: rgba(0,0,0,0.3);
}

.features-details::after {
  content: "";
  position: absolute;
  top: 17px;
  left: -33px;
  width: 220px;
  height: 7px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  z-index: -1;
}

.features-details:hover::after,
.features-details:focus::after{
  height: 100%;
  top:0;
}

/*Подробнее о нас*/
.features-details-us{
  display: inline;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  top:47px;
  left:13px;
  z-index: 2;
  padding: 10px 10px;
  cursor:pointer;
}

.features-details-us::after {
  content: "";

  position: absolute;
  top: 17px;
  left: -12px;
  width: 260px;
  height: 7px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  z-index: -1;
}

/*Напишите нам*/
.features-details-write-us{
  display: inline;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  top:69px;
  left:31px;
  z-index: 2;
  padding: 10px 10px;

  cursor:pointer;
}

.features-details-write-us::after {
  content: "";

  position: absolute;
  top: 17px;
  left: -30px;
  width: 260px;
  height: 7px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  z-index: -1;
}

.features-details-us:active,
.features-details-write-us:active{
  color: rgba(0,0,0,0.3);
}

.features-details-us:hover::after,
.features-details-write-us:hover::after{
  height: 100%;
  top:0;
}

.features-details-us:focus::after,
.features-details-write-us:focus::after{
  height: 100%;
  top:0;
}

.slider {
  position: relative;
  margin-bottom: 199px;
}

.slider-list {
  margin: 0;
  padding: 0;
  z-index: 5;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background-image: url("../img/slider-button-empty.svg");
  background-size: 12px;
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  top:151px;
  right: 64px;
  font-size: 0;
}

.slide {
  display: none;
}

.gallery-1{
  position: absolute;
  bottom: -207px;
  left:-551px;
  z-index: -1;
}

.gallery-2{
  position: absolute;
  bottom: -219px;
  left:-526px;
  z-index: -1;
}

.gallery-3{
  position: absolute;
  bottom: -120px;
  left:-610px;
  z-index: -1;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-image: url("../img/slider-button.svg");
}

.features-table{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top:323px;
  left:-5px;
}

.features-row{
  padding-right:74px;
}

.features-row:nth-last-child(1){
  padding-right:0px;
}

.features-name{
  padding-right:78px;
}

.features-name:nth-last-child(1){
  padding-right:0px;
}

.features-row-3{
  padding-left:2px;
  padding-right: 60px;
  padding-bottom:3px;
}

.features-name-3{
  padding-left:5px;
  padding-right: 44px;
  padding-top:3px;
}

.features{
  position: relative;
  z-index: 1;
  bottom:90px;
  left: 600px;
  }

.features::before{
  content: "";

  position: absolute;
  width: 100px;
  height: 6px;
  background-color: #ffffff;
  z-index: 2;
  top:-42px;
  left: -1px;
}

.features-number{
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  position: absolute;
  top:-92px;
  left:329px;
  color:#ffffff;
  z-index: -1;
}

.features-number-02{
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  position: absolute;
  top:-93px;
  left:300px;
  color:#ffffff;
  z-index: -1;
}

.features-number-03{
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  position: absolute;
  top:-93px;
  left:305px;
  color:#ffffff;
  z-index: -1;
}

/*совмещенный слайдер гарантия-доставка-кредит с описанием, доделать*/
.service{
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-item-middle{
  background-color: #f0c52e;
}

/*Загаловки Доставка, Гарантия, Кредит,  О нас, Контакты,Моноподы для селфи*/
/*Каталог товаров*/
.title-common,
.about-us-title {
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

/*Моноподы для селфи*/
.title-common-1{
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

/*текст*/
.catalog-item{
  list-style: none;
}

.catalog-item a{
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

/*картинка*/
.catalog-item-image {
  background-color: #f7e296;
  width: 160px;
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin:0;
  margin-bottom: 31px;
}

/*.catalog-item-image:hover,
.catalog-item-image:focus
{
  background-color: #f0c52e;
}
*/
.catalog-category-common:hover .catalog-item-image,
.catalog-category-common:focus .catalog-item-image{
  background-color: #f0c52e;
}

.about-us-partner{
  padding: 0;
}

.about-us-partner li{
list-style: none;
font-size: 16px;
line-height: 40px;
background-image: url(../img/slider-button_number.svg);
background-size: 8px 8px;
background-repeat: no-repeat;
background-position: 0 center;
padding-left: 35px;
}

/*Таблица*/
.features-line th{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color:#464646;
  letter-spacing: 0.01em;
}

.features-line td{
  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.service-service-description{
  background-color: #e5e5e5;
}

.service-item{
  list-style: none;
}

.partners-general{
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 0.2;
}

.partners-general:hover,
.partners-general:focus{
  opacity: 1;
}

.partner-1{
  background-image: url("../img/logo-1.png");
}

.partner-2{
  background-image: url("../img/logo-2.png");
}

.partner-3{
  background-image: url("../img/logo-3.png");
}

.partner-4{
  background-image: url("../img/logo-4.png");
}

.partner-1:hover,
.partner-1:focus{
  background-image: url("../img/logo-1_hover_red.jpg");

}
.partner-2:hover,
.partner-2:focus{
  background-image: url("../img/logo-2_hover_blue.jpg");
}

.partner-3:hover,
.partner-3:focus{
  background-image: url("../img/logo-3_hover_blue.jpg");
}

.partner-4:hover,
.partner-4:focus{
  background-image: url("../img/logo-4-hover_blue.jpg");
}

.about-us-description{
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color:#464646;
  }


.about-us-partner-car{
  padding-left: 2px;
}

.about-us-partner-road{
  padding-left: 1px;
}

.about-us-1{
  padding-top: 11px;
}

.about-us-2{
  padding-top: 15px;
  margin-bottom: 64px;
}



/*footer*/
.main-footer{
  background-color: #464646;
  color:#ffffff;
}

.footer-contacts,
.navigation-phone{
  color:#ffffff;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.footer-servise a{
  color:#ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

.footer-servise a:hover,
.footer-servise a:focus{
  opacity: 0.6;
}

.footer-servise a:active{
  opacity: 0.3;
}

.user-navigation-footer a,
.user-navigation-catalog a{
  color:#ffffff;
}

.user-navigation-footer{
  opacity: 0.7;
}

.user-navigation-footer a:hover,
.user-navigation-footer a:focus{
  opacity: 1;
}

.user-navigation-footer a:active{
opacity: 0.3;
}

.footer-social a{
  opacity: 0.3;
  color:#ffffff;
  text-transform: uppercase;
  }

.footer-social a:hover {
  opacity: 0.6;
}
.footer-social a:active {
  opacity: 0.1;
}
.footer-social ul {
  list-style: none;
  text-align: center;
}

/*Следующая страница - catalog*/
/*кнопка выйти*/
.logout,
.logout-footer{
  opacity: 0.3;
  margin-left: 14px;
}

.logout:visited{
  opacity: 0.3;
}

.logout-footer:visited{
  opacity: 0.3;
  margin-left: 14px;
}

/*каталог товаров*/
.breadcrumbs{
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding: 0;
margin: 0;
margin-bottom: 43px;
margin-left: 60px;
}

.breadcrumbs li{
  list-style:none;
  position: relative;
  margin-right: 38px;
}

.breadcrumbs-main::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 68px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-catalog::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 129px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a{
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
  opacity: 0.6;
}

.breadcrumbs a:active{
  opacity: 0.1;
}

 .breadcrumbs-current{
   padding-left: 4px;
 }

.filters-filtr{
  background-color: #dcdcdc;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: left;
  padding:  23px 0;
  padding-left: 203px;
  margin: 0;
  }

.sort-item{
  background-color: #ebebeb;
}
.sort-item h3{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.2em;
  }

.filter-cost{
  border-top: 2px solid #000000;
  padding-right: 103px;
  padding-top:10px;
  padding-left: 0;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.filter-cost-number{
  opacity: 0.2;
}
.catalog-picture-1{
  width: 97px;
  height: 55px;
  margin-top:48px;
}

.catalog-picture-2{
  width: 86px;
  height: 117px;
  margin-top:39px;
}
.catalog-picture-3{
  width: 71px;
  height: 87px;
  margin-top:35px;
}

.catalog-picture-4{
  width: 107px;
  height: 65px;
  margin-top:48px;
}

.catalog-picture-5{
  width: 56px;
  height: 98px;
  margin-top:30px;
}

.catalog-picture-6{
  width: 132px;
  height: 69px;
  margin-top:46px;
}

.sort-item-type,
.sort-item-popular {
  font-family: "Open Sans Regular", Arial,  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-item-price {
  font-family: "Open Sans Regular", Arial,  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  }

.sort-item-price:hover,
.sort-item-type:hover,
.sort-item-popular:hover{
  opacity: 0.6;
}


.sort-item-price:focus,
.sort-item-type:focus,
.sort-item-popular:focus{
  opacity: 0.6;
}

.price-checked,
.sort-item-price:active,
.sort-item-type:active,
.sort-item-popular:active{
  opacity: 1;
}

/*кнопка по цене нажата, но нужна еще взаимосвязь со стрелками вверх-вниз.*/
.sort-item-price:visited {
  color: #000000;
}

.filters li{
  list-style: none;
}

.label-color,
.button {
  cursor: pointer;
}

.label-color{
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.products-item a{
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.products-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 20px;
}

.products .products-item-price{
  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 300;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item a{
  font-size: 16px;
  line-height: 24px;
  padding-left: 28px;
  cursor: pointer;
}

/*Кнопки products-button*/
.products-button{
  background-color: #ebebeb;
}

/*кнопки назад вперед*/
.gallery-button{
  background-color: #ebebeb;
  border: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-weight: 800;
}

.gallery-button-next{
  padding-right: 25px;
}

.gallery-button-back:active,
.gallery-button-next:active{
  opacity: 0.3;
  outline: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

.gallery-button-back:hover,
.gallery-button-next:hover{
  background-color: #d9d9d9;
  outline: 1px solid #d9d9d9;
}
.gallery-button-back:focus,
.gallery-button-next:focus{
  background-color: #d9d9d9;
  outline: 1px solid #d9d9d9;
}

/*цифры 1,2,3*/
.pagination-item  .item-active{
  opacity: 1;
}
.pagination-item-current{
  opacity: 0.3;
}

.pagination-item-current:hover,
.pagination-item-current:focus{
  opacity: 0.6;
}

.pagination-item-current:active{
  opacity: 0.3;
}
/*СОЗДАНИЕ СЕТКИ ЛЕКЦИЯ 6*/
.container {
  width: 1439px;
  margin: 0 auto;
  padding: 0;
}

.container-min{
  width: 1160px;
  margin: 0 auto;
}

.for-logo{
  position: relative;
  margin-bottom: 60px;
}

.for-logo-1{
  position: relative;
  margin-bottom: 61px;
}

/*шапка сайта*/
.user-navigation-color{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}

.user-navigation-user{
  margin-top:33px;
  margin-bottom: 31px;
}

.user-navigation-user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-navigation{
  display: none;
  position: absolute;
  padding-left: 57px;
  left: -59px;
  padding-bottom: 34px;
}

.navigation-index{
  padding-right: 552px;
}
.main-catalog{
  padding-bottom: 102px;
}

.width-catalog{
  padding:0px;
}

.catalog-product-nav{
 font-size:18px;
 line-height: 24px;
 letter-spacing: 0.2em;
 text-transform: uppercase;
 margin:  0;
 position: relative;
 z-index: 10;
}

.catalog-nav ul{
  margin:0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size:15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.catalog-product-nav:hover .main-navigation {
 display: block;
 z-index: 20;
 background-color: #f7e296;
 margin-top: 20px;
}


 .catalog-product-nav:hover .catalog-nav-block{
   display: block;
   z-index: 20;
 }

.catalog-product-nav:hover .main-catalog{
  width: 1102px;
  left: -60px;
  padding-left: 58px;
  margin-top: 20px;
  padding-bottom: 33px;
}



.catalog-product-nav:focus .main-catalog{
  width: 1102px;
  left: -60px;
  padding-left: 58px;
  margin-top: 20px;
  padding-bottom: 33px;
}



.catalog-name{
  padding-right: 40px;
}

.catalog-name::after {
   content: "";

   position: absolute;
   top: 4px;
   left: 231px;
   width: 37px;
   height: 30px;
   background-image: url("../img/plus.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   opacity: 1;
}

.catalog-name:hover,
.catalog-name:focus{
  opacity: 0.6;
}

  .catalog-name:active{
    opacity: 0.3;
}

.catalog-product-nav:hover+ .main-navigation,
.catalog-product-nav:active+ .main-navigation,
.catalog-product-nav:focus+ .main-navigation{
  display: block;
}
.first-column:hover,
.first-column:active,
.first-column:focus{
  display: block;
 }

.catalog-nav {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}

.catalog-group {
  padding-right: 68px;
}
.catalog-group:nth-last-child(1){
  padding-right: 0;
}

.user-navigation{
  display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 width:500px;
 margin-top: 9px;
}

.site-nav{
  letter-spacing: 0.2em;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  top:-42px;
  left: 501px;
  margin-bottom:6px;
  width: 520px;
}

.for-index{
  padding-bottom: 112px;
}

.for-catalog{
  margin-bottom: -23px;
}
.site-nav li{
  list-style: none;
  padding:0;
}

.site-nav-delivery{
  margin-right: 26px;
}

.site-nav-garanty{
  margin-right: 100px;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
}

.site-nav a{
  display: block;
}

/*Войти, сравнить, корзина*/
.user-navigation-footer,
.user-navigation-catalog{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size:15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.user-navigation a{
  display: inline-block;
  vertical-align: middle;
}

/*войти*/
 .login-link{
  padding-right: 35px;
  position: relative;
  top:1px;
}

.user-navigation .login-link{
  padding-right: 210px;
  padding-left: 27px;
  position: relative;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;
  width: 13px;
  height: 13px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

.login-link:hover::before{
  opacity: 0.6;
}

.compare:hover::before,
.basket:hover::before{
  opacity: 0.8;
}

.login-link:focus::before,
.compare:focus::before,
.basket:focus::before{
  opacity: 0.6;
}

.login-link:active:active,
.compare:active,
.basket:active{
    opacity: 0.3;
}

/*сравнить индекс*/
.user-navigation .compare{
  padding-right: 34px;
  padding-left: 28px;
  top: 2px;
  position: relative;
  left: -1px;
}

.compare::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 8px;
  width: 13px;
  height: 13px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }


.user-navigation .compare-catalog{
  left:89px;
}

.logout{
  position: relative;
  left:32px;
}
.client{
  position: relative;
  left:27px;
}

.client::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -26px;
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.user-navigation .basket{
  margin-left:auto;
  position: relative;
  padding-right: 1px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -23px;
  width: 13px;
  height: 13px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}


/*Валентин Петухов*/
.client-footer{
  position: relative;
  opacity: 0.7;
}

.compare-logout{
  left: -124px;
  top: 2px;
  opacity: 0.7;
}

.main-header{
  margin-top: 40px;
}
.logo-top,
.logo-down{
  width:163px;
  height:36px;
}

.main-logo-top{
  position: absolute;
  left:59px;
  top:-20px;

  cursor: pointer;
}

.main-logo-top:hover,
.main-logo-top:focus{
  opacity: 0.6;
}

.logo-down:hover,
.logo-down:focus{
  opacity: 0.6;
}

.main-logo-top:active{
  opacity: 0.3;
}

.main-logo img{
  width: 163px;
  min-height: 36px;
  margin-bottom: 16px;
}

.galery-content .slider-1{
  width: 384px;
  height: 486px;
}

.galery-content .slider-2{
  width: 345px;
  height: 485px;
}

.galery-content .slider-3{
  width: 526px;
  height: 334px;
}

.contacts-map{
  width: 560px;
  height: 222px;
  padding-top: 39px;
}

.map-big{
  width: 960px;
  height: 559px;
}

/*Популярные товары:экшн камера и тп*/
.catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 180px;
}

.catalog-item{
  width: 160px;
  margin-right: 40px;
}

.catalog-category-common:active .catalog-item-picture,
.catalog-category-common:active .catalog-category{
  opacity: 0.3;
}

.catalog-category-order{
  -webkit-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2;
}

.catalog-category{
  margin:0;
  padding: 0;

}

.catalog-item{

}

/*.catalog-item-picture:active{
  opacity: 0.6;
}*/

.catalog-item:nth-child(6n) {
  margin-right: 0;
}

.catalog-item-list{
  display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 padding: 0;
 margin: 0;
 list-style: none;
}

/*Доставка, гарантия, кредит */
.service-block{
  background-color: #e5e5e5;
  margin-bottom: 94px;
  padding-bottom: 87px;
  width: 1439px;
}

.slider-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Заголовок*/
.slider-service-block{
  width: 278px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 border-right: 7px solid #000000;

 font-size: 18px;
 line-height: 24px;
 letter-spacing: 0.2em;
 text-transform: uppercase;

 margin-top: -98px;
 margin-bottom: -17px;
 z-index: 1;
}

/*Заголовки*/
.slider-button{
  position: relative;

  padding-top: 8px;
  padding-bottom: 7px;
  margin-bottom: 25px;

  cursor: pointer;
}

.slider-delivery{
  margin: 0;
  padding: 0;
  top: 80px;
  padding-left: 20px;
  padding-bottom: 9px;
  padding-top: 6px;
}

.slider-garanty{
  margin: 0;
  padding: 0;
  top: 107px;
  left: 0px;
  padding-left: 25px;
  padding-bottom: 9px;
  padding-top: 6px;
  *margin-bottom: 26px;
}

.slider-credit{
  margin: 0;
  padding: 0;
  top: 132px;
  padding-left: 38px;
  padding-bottom: 9px;
  padding-top: 6px;
}

.slider-service-block label::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;
  width: 160px;
  height: 10px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}

.slider-service-block label:hover::before,
.slider-service-block label:focus::before{
  height: 100%;
  top:0;
}

/*описание*/
.slider-service-list{
  width: 460px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 list-style:none;
 padding: 0;
 margin: 0;
 margin-top: -26px;
 padding-left: 118px;
 padding-bottom: 60px;
}

.slider-item-service {
  display: none;
  padding-right: 29px;
}

.description-background-04::after{
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -262px;
  bottom: -6px;
}

.description-background-05::after{
  content: "";
  position: absolute;
  right: -282px;
  bottom: -14px;
  width: 171px;
  height: 194px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.description-background-06::after{
  content: "";
  position: absolute;
  right: -254px;
  bottom: -6px;
  width: 156px;
  height: 186px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-4:checked ~ .service-block #slide4,
#product-5:checked ~ .service-block #slide5,
#product-6:checked ~ .service-block #slide6 {
  display: block;
}

#product-4:checked ~ .service-block label[for="product-4"],
#product-5:checked ~ .service-block label[for="product-5"],
#product-6:checked ~ .service-block label[for="product-6"] {
  color: #f7e184;
  background-color: #000;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}


/*партнеры*/
.partners{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 152px;
}

/*Блок О нас-Контакты*/
.about-us-contacts{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 128px;
}

.about-us{
  width: 463px;
  position: relative;
}
.about-us::before{
  content: "";
  position: absolute;
  width: 81px;
  height: 8px;
  background-color: #000000;
  z-index: 2;
  top: -62px;
}

.contacts{
  width: 560px;
  position: relative;
}

.contacts::before{
  content: "";
  position: absolute;
  width: 81px;
  height: 8px;
  background-color: #000000;
  z-index: 2;
  top: -62px;
}

/*footer*/
.wrapper{
  width: 1439px;
  margin: 0 auto;
  background-color: #464646;
}

.main-footer{
  padding-bottom: 114px;
  padding-top:65px;
}

.contacts-user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-contacts{
  width: 260px;
  margin: 0;
}
.main-logo:hover,
.main-logo:focus{
  opacity: 0.6;
}

.footer-contacts:active{
  opacity: 0.3;
}

.user-navigation-footer{
  margin-left:auto;
}
.service-social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-social .address{
  width: 260px;
  margin: 0;
  margin-right: 107px;
  padding-top: 5px;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  position: relative;
}

.service-social .address::after {
 content: "";
 position: absolute;
 width: 81px;
 height: 8px;
 background-color: #ffc600;
 z-index: 2;
 left: 0px;
top: 111px;
}

/*Доставка Гарантия Контакты футер*/
.footer-servise ul{
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style: none;
  letter-spacing: 0.2em;
}

.site-navigation-current:hover,
.site-navigation-current:focus{
  opacity: 0.6;
}

.site-navigation-current:hover,
.site-navigation-current:focus{
  opacity: 0.6;
}

/*Псевдоэлементы Фейсбук Инстаграмм Твиттер*/
.social-button{
  position: relative;
}

.social-button-fb::before {
  content: "";

  position: absolute;
  width: 35px;
  height: 33px;
  top: 38px;
  right: 51px;

  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-button-inst::before {
  content: "";

  position: absolute;
  width: 35px;
  height: 33px;
  top: 38px;
  right: 1px;

  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-button-twit::before {
  content: "";

  position: absolute;
  width: 35px;
  height: 33px;
  left: 14px;
  top: 38px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.social-button:hover::before,
.social-button:active::before,
.social-button:focus::before{
  opacity: 0.6;
}
.social-button:active::before{
  opacity: 0.1;
}

/*Войти Сравнить Корзина index*/
.login-link-footer{
  position: relative;
  padding-left: 51px;
  opacity: 0.7;
}

.login-link-footer::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 13px;
  right: 55px;
  bottom: 2px;
  background-image: url("../img/user_yellow.svg");

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.login-link-footer::before:hover,
.compare-footer::before:hover,
.basket-footer::before:hover{
  opacity: 0.6;
}
.login-link-footer::before:focus,
.compare-footer::before:focus,
.basket-footer::before:focus{
  opacity: 0.6;
}

.login-link-footer::before:active,
.compare-footer::before:active,
.basket-footer::before:active{
  opacity: 0.6;
}

.compare-footer{
  position: relative;
  padding-left: 27px;
  margin-left: 33px;
  margin-right: 34px;
  opacity: 0.7;
}

.compare-footer::before {
  content: "";

  position: absolute;
  top: 5px;
  right: 76px;
  width: 13px;
  height: 13px;

  background-image: url("../img/compare_yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

  /*корзина*/
.basket-footer{
  position: relative;
  margin-left:auto;
  padding-left:27px;
  opacity: 0.7
}

.basket-footer::before {
  content: "";

  position: absolute;
  top: 1px;
  right: 68px;
  width: 13px;
  height: 13px;

  background-image: url("../img/cart_yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.login-link-footer:hover,
.compare-footer:hover,
.basket-footer:hover{
  opacity: 1;
}


.login-link-footer:focus,
.compare-footer:focus,
.basket-footer:focus{
  opacity: 1;
}

.service-social .navigation-phone{
  margin:0;
  margin-left: auto;
  letter-spacing: 0;
  padding-top: 6px;
}

.footer-copyright{
  cursor: pointer;
  position: relative;
}

.htmlacademy-href::before{
  content: "";

  position: absolute;
  width: 27px;
  height: 35px;
  right: 0px;
  top:-7px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.htmlacademy-href:hover::before,
.htmlacademy-href:focus::before{
  opacity: 0.6;
}

.htmlacademy-href:active::before{
  opacity: 0.3;
}

/*каталог*/
.title-common{
  margin: 0;
  margin-bottom: 39px;
  margin-top: 10px;
  padding: 0;
}

.about-us-title{
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}

.title-common-1{
  margin: 0;
  margin-left:60px;
  margin-bottom: 20px;
  padding: 0;
}

/*выстраивает списки в строку*/
.site-nav li,
.footer-servise li,
.footer-social li{
  display: inline-block;
  vertical-align: middle;

  cursor: pointer;
}

.products{
  width: 850px;
}

.products-item-image{
  margin:0;
  margin-top: 70px;
  margin-left:0;
}

.products-item-new::before {
  content: "NEW";

  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0,0,0,0.2);
  top: 72px;
  right: 12px;
}

.products-item-new::after {
  content: "";

  position: absolute;
  width: 57px;
  height: 57px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  top: 53px;
  right: 26px;
}

.filter-sort-name{
  float:left;
  width: 467px;
}

.products-item-photo{
  margin-top: 25px;
}

.sort-item h3{
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin:0;
  padding: 23px 0;
  padding-left:73px;
  padding-right: 36px;
}

.sort-item-sort{
  display: inline-block;
  vertical-align:middle;
  padding: 16px 0;
}

.sort-item-price{
  position: relative;
  padding-right: 15px;
}

.sort-item-price::before{
  content: "";

  position: absolute;
  left: 549px;
  top: 5px;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-item-price::before:hover,
.sort-item-price::before:focus{
  opacity: 0.4;
}
.sort-item-type::before:hover,
.sort-item-type::before:focus{
  opacity: 0.4;
}

.sort-item-type::before:active,
.sort-item-price::before:active{
  opacity: 1;
}


.sort-item-type{
  position: relative;

  padding-left: 10px;
  padding-right: 30px;
}

.sort-item-type::before{
  content: "";

  position: absolute;
  left: 447px;
  top: 5px;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-sort{
  width: 100%;
  background-color: #ebebeb;
}

.clearfix::after{
	clear: both;
	content: "";
	display: block;
}

/*фильтр и продукты*/
.filters-products{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item{
  width: 360px;
  padding: 0;
  margin: 0;
  position: relative;
}

.products-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  margin-bottom: 14px;
}

.products-list li{
  margin:0;
  margin-right: 40px;
  list-style: none;
}

.products-list li:nth-child(2n) {
  margin-right: 0;
}

.products-list li:nth-child(2n+1) {
  margin-left: 72px;
}

.products-item-picture{
  width:360px;
  height: 380px;
}

.products-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  margin-left: 70px;
  margin-bottom: 74px;
}

.gallery-button{
  padding-left:32px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.pagination-item {
  display: inline-block;
  vertical-align: middle;
  padding-top: 22px;
}

/*слайдеры*/
.galery-content-1{
  position: absolute;
  top:210px;
  z-index: 1;
  left: 230px;
}

/*форма с бегунком каталог*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 200px;
}

.range-filter {
  width: 200px;
}

/*ползунки*/
.range-controls {
 position: relative;
 height: 12px;
 left:1px;
 border-radius: 5px;
/*шкала по центру элемента*/
 padding-top: 36px;
cursor: pointer;
}

/*стили шкалы*/
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

/*шкала внутри*/
.range-controls .bar {
  width: 53%;
  height: 2px;
  background: #00ca74;
}

/*кружки*/
.range-controls .toggle {
  position: absolute;
  top:26px;
  left: -7px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle:hover,
.range-controls .toggle:active,
.range-controls .toggle:focus{
  width: 6px;
  height: 6px;
}

.range-controls .toggle-max {
  left: 106px;
}

/*нижняя часть*/
.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 37%;

  background-color: #eeeeee;

  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
  margin-bottom: 30px;
}

.price-controls input {
  width: 35px;
  text-align:left;
  font-family: "Gilroy", "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

/*блок до 5000*/
.max-price {
  text-align: right;
}

.form-filter{
  width: 468px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 background-color: #eeeeee;
 padding-left: 198px;
 padding-top: 70px;
}

.color{
  border-top: 2px solid #000000;

  line-height: 24px;
  letter-spacing: 0.01em;
  width: 200px;
  padding-top:10px;
  margin-bottom:19px;
}

.bluetooth{
  border-top: 2px solid #000000;
  line-height: 24px;
  letter-spacing: 0.01em;
  width: 200px;
  padding-top: 11px;
}

.filter-item-color{
  border:none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.filter-item-bluetooth{
  border:none;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
  padding-top: 18px;
}

.filter-ul {
  padding: 0;
  margin: 0;
  padding-left: 39px;
  list-style: none;
}

.filter-option{
  padding-top:0;
}

.filter-option label {
  position: relative;
 display: block;
 cursor: pointer;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

.unchecked + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 7px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox + label::after{
  content: "";
  position: absolute;
  left: -41px;
  top: 7px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -41px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked+ label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 6px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
}

.filter-input-radio+ label::before {
  content: "";

  position: absolute;
  left: -41px;
  top: 7px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

.label-color:focus{
  opacity: 0.6;
}

.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:checked:hover + label::after,
.unchecked:hover + label::before,
.filter-input-radio:hover+ label::before,
.radio-unchecked:hover+ label::after{
  opacity: 0.6;
}

.filter-input-checkbox:focus + label::after,
.filter-input-checkbox:checked:focus + label::after,
.unchecked:focus + label::before,
.filter-input-radio:focus+ label::before,
.radio-unchecked:focus+ label::after{
  opacity: 0.6;
}

.filter-input-checkbox:active + label::after,
.filter-input-checkbox:checked:active + label::after,
.unchecked:active + label::before,
.filter-input-radio:active+ label::before,
.radio-unchecked:active+ label::after{
  opacity: 1;
}

.radio-unchecked+ label::after{
  content: "";

  position: absolute;
  top: 7px;
  left: -41px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.radio-unchecked:checked+ label::after{
  content: "";

  position: absolute;
  top: 7px;
  left: -41px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label {
  color:#a6a6a6;
}

.write-us-send {
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  padding-left: 36px;
  position: relative;
  z-index: 1;
  background: none;
  padding: 3px 39px;
}

.write-us-send::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 200px;
  height: 7px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  z-index: -1;
  left: -1px;
  }

.write-us-send:active{
  color: rgba(0,0,0,0.3);
}
.write-us-send:hover::after,
.write-us-send:focus::after{
  height: 100%;
  top:0;
}

.products-item-image:hover img  {
    cursor: pointer;
    -webkit-filter: opacity(.7);
    filter: opacity(.7);
  }

.image-choice:hover + .choice,
.image-choice:focus + .choice {
  display: block;
}
.choice:hover,
.choice:focus{
  display: block;
}

.choice{
  display: none;
  position: absolute;
}

/*В корзину*/
.products-item-image .in-basket{
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  left: 107px;
  bottom: 223px;
  z-index: 1;
  text-align: center;
  padding: 10px 10px;
  opacity: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}


.products-item-image .in-basket-button::before{
 content: "";
   position: absolute;
   top: calc(100% - 27px);
   left: -28px;
   width: 203px;
   height: 8px;
   background: #f0c52e;
   z-index: -1;
  }


  .in-basket-button:focus{
    display:block;
    opacity: 1;
  }
/*псевдоэлемент*/
.products-item-image .in-basket-button:hover::before{
  content: "";
  height:100%;
  top: calc(14% - 4px);
  opacity: 1;
}

 .in-basket-button:focus::before{
  content: "";
  height:100%;
  top: calc(14% - 4px);
  opacity: 1;
}

.products-item .in-basket:active{
  color:rgba(0,0,0,0.3);
  }

/*Добавить к сравненю*/
.products-item-image .to-compare{
 font-family: "Open Sans Light", Arial, sans-serif;
 font-size: 13px;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.01em;

  position: relative;
  bottom: 178px;
  left: -44px;
  opacity: 0.3;
  display: inline-block;
  vertical-align: middle;
}

.products-item-image .to-compare:hover,
.products-item-image .to-compare:focus{
  opacity: 1;
}

.products-item-image .to-compare:active{
  opacity: 0.2;
}

/*Напишите нам*/
.modal{
  position: fixed;
 z-index: 30;
 -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-write-us{
  width: 960px;
  padding: 60px 100px;
  background-color: #ffffff;
  top: 96px;
  left: 50%;
  margin-left: -480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  display: none;
}

.modal-close {
  position: absolute;
  top: 26px;
  right: 30px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  opacity: 0.5;
  border: 0;
  cursor: pointer;
  z-index: 3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  top: 24px;
  left: 10px;

  position: absolute;
  background-color: #ffffff;
  width: 37px;
  height: 3px;
}
.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
 }

.name-email{
  display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 40px;
}

.modal-name{
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.write-us-form-1 input[type="text"],
.write-us-form-1 input[type="email"],
.write-us-text {
  font-family: "Open Sans Regular", Arial,  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #f2f2f2;
  opacity: 0.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 20px;
  margin-right: 40px;
  width: 360px;
  border: none;
}

.write-us-form-1 input[type="email"]{
  margin-right: 0;
}

.write-us-text{
  width: 760px;
  resize:none;
  padding-bottom: 50px;
}

.write-us-form-1 input[type="text"]:hover,
.write-us-form-1 input[type="email"]:hover,
.write-us-text:hover{
  background-color: #eaeaea;
}

.write-us-form-1 input[type="text"]:focus,
.write-us-form-1 input[type="email"]:focus,
.write-us-text:focus{
  background-color: #ffffff;
  outline: 3px solid #f7e296;
  opacity: 1;
}

.write-us-form-1 input[type="text"]:invalid,
.write-us-form-1 input[type="email"]:invalid,
.write-us-text:invalid{
  opacity: 0.5;
  background-color: #f6dada;
  outline:1px solid #f6dada;
}

.write-us-send-footer {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 800;
  width: 200px;
  height: 40px;
  margin-top: 41px;
  padding: 8px 43px;
  color: #000000;
  background-color: #ffffff;
  border:none;
}

.write-us-send-footer::before{
  content: "Отправить";

  position: absolute;
  top: 5px;
  left: 24px;
  z-index: 15;
  color: #000;
}

.write-us-send-footer::after{
  content: "";

  position: absolute;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  top: 14px;
  left: -2px;
}

.write-us-send-footer:active::before{
  color: rgba(0, 0, 0, 0.3);
}

.write-us-send-footer:hover::after{
  height: 41px;
  top: -3px;
}

/*карта*/
.modal-map {
  display: none;
  top: 50%;
  left: 50%;

  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -480px;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-show {
 display: block;
 animation: bounce 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}



@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation: shake 0.6s;
}
