/* "Gilroyextrabold - cyrillic_latin */
  @font-face {
  font-family: "Gilroyextrabold";
  font-style: extra-bold;
  font-weight: 800;
  src: url('../fonts/gilroy/Gilroyextrabold.ttf'); /* Путь к файлу со шрифтом */
  }

/* "Gilroylight - cyrillic_latin */
  @font-face {
  font-family: "Gilroylight";
  font-style: light;
  font-weight: 300;
  src: url('../fonts/gilroy/Gilroylight.ttf'); /* Путь к файлу со шрифтом */
  }

body{
  margin:0;
  padding:0;
  font-family: "Gilroyextrabold", "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
  }

a{
  text-decoration: none;
  color:#000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*группа поиск по сайту*/
.header-search{
  padding-left:39px;
  position: relative;
  font-size: 0;
}

.header-search::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 2px;
  width: 24px;
  height: 24px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }


/*кнопка поиск по сайту*/
.button-search{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size:15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  vertical-align: middle;
  border: none;
  padding: 7px 0;
  padding-right: 180px;

  background-color: #f7e296;
}


.button-search:focus{
  border-bottom: 2px solid #000000;
  outline: 0;
}


.header-search:active .submit{
  visibility: visible;
}

.button-search:focus + .submit{
  visibility: visible;
}
}
.search-item input:focus + .search-button {
  visibility: visible;
}

/*кнопка найти*/
 .submit{
  width: 85px;
  min-height: 48px;
  padding: 0;
  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;

}

.submit:hover {
  color: #ffffff;
  background-color: #000000;
  }

.submit:active {
  color: rgba(255,255,255,0.3);
  background-color: #000000;
  visibility: visible;
}

.user-navigation-color{
  background-color: #f7e296;
  padding: 0 60px;
}

/*Войти сравнить корзина*/
.user-navigation{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.main-logo{
  cursor: pointer;
}

.main-logo:hover,
.user-navigation a:hover,
.catalog-nav a:hover,
.site-nav a:hover{
  opacity: 0.6;
}

.main-logo:active,
.catalog-nav a:active,
.site-nav a:active{
  opacity: 0.3;
}
/*Каталог товаров*/
.main-navigation{
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
}

.header-search ul{
  list-style: none;
  padding:0;
}

.catalog-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroyextrabold", "Open Sans", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;

}

.user-navigation,
.footer-social li {
  list-style: none;
  margin:0;
  padding:0;
}

.site-navigation-current{
  list-style: none;
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  margin-right: 25px;
}
.site-navigation-current:nth-last-child(1){
  margin-right: 0;
}
.features h2{
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  margin:0;
  margin-bottom: 20px;
}

/*описание шрифт open suns light*/
.description-common{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color:#464646;
  letter-spacing: 0.01em;
  padding:0;
  margin:0;
  position: relative;
  }

.filter fieldset,
.features fieldset{
  border: none;
}

/*ссылки Подробнее, Подробнее о нас, Напишите нам*/
.features-details{
  display: inline;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  top:51px;
  left:41px;
  z-index: 2;

  cursor:pointer;
}

.features-details::after {
  content: "";

  position: absolute;
  top: 6px;
  left: -40px;
  width: 220px;
  height: 7px;

  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  z-index: -1;
  }
.features-details:hover::after{
  height: 100%;
  top:0;
}

/*сделать прозрачность только для текста*/
.features-details:active,
.service-item-middle:active,
.about-us-detail:active{
  opacity: 0.3;
}

.slider {
  position: relative;
  margin-bottom: 199px;
}

.slider-list {
  margin: 0;
  padding: 0;
  z-index: 5;

}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background-image: url("../img/slider-button-empty.svg");
  background-size: 12px;
  background-repeat: no-repeat;

  cursor: pointer;
}




.slider-controls {
  position: absolute;
  z-index: 20;
  top:158px;
  right: 64px;
  font-size: 0;
}


.slide {
  display: none;}

.gallery-1{
  position: absolute;
  bottom: -207px;
  left:-551px;
  z-index: -1;
  }

  .gallery-2{
    position: absolute;
    bottom: -219px;
    left:-526px;
    z-index: -1;
    }

    .gallery-3{
      position: absolute;
      bottom: -120px;
      left:-610px;
      z-index: -1;
      }

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {

    background-image: url("../img/slider-button.svg");
}

.features-table{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  position: absolute;
  top:323px;
  left:-5px;
}

.features-row{
  padding-right:74px;
}
.features-row:nth-last-child(1){
  padding-right:0px;
}

.features-name{
    padding-right:78px;
}
.features-name:nth-last-child(1){
  padding-right:0px;
}

.features-row-3{
  padding-left:2px;
  padding-right: 60px;
  padding-bottom:3px;
}
.features-name-3{
  padding-left:5px;
  padding-right: 44px;
  padding-top:3px;
}
.features{
  position: relative;
  z-index: 1;
  bottom:90px;
  left: 600px;
  }

.features::before{
  content: "";

  position: absolute;
  width: 100px;
  height: 6px;
  background-color: #ffffff;
  z-index: 2;
  top:-42px;
  left: -1px;

}
.features-number{
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  position: absolute;
  top:-92px;
  left:326px;
  color:#ffffff;
  z-index: -1;
}

.features-number-02{
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  position: absolute;
  top:-93px;
  left:300px;
  color:#ffffff;
  z-index: -1;
}


.features-number-03{
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  position: absolute;
  top:-93px;
  left:305px;
  color:#ffffff;
  z-index: -1;
}



/*совмещенный слайдер гарантия-доставка-кредит с описанием, доделать*/
.service{
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  }

.service-item-middle{
  background-color: #f0c52e;
}

/*Загаловки Доставка, Гарантия, Кредит,  О нас, Контакты,Моноподы для селфи*/
.title-common{
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

/*Каталог товаров*/

/*текст*/
.catalog-item{
  list-style: none;
}

.catalog-item a{
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

/*картинка*/

.catalog-item-image {
    opacity: 0.5;
    background-color: #f0c52e;
    width: 160px;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin:0;
    margin-bottom: 31px;
}

.catalog-item-image:hover{
  opacity: 1;
}

.catalog-item a:active,
.catalog-item-image:active{
  opacity: 0.3;
}

.about-us-partner{
  padding: 0;
}
.about-us-partner li{
list-style: none;
font-size: 16px;
line-height: 40px;
background-image: url(../img/slider-button_number.svg);
background-size: 8px 8px;
background-repeat: no-repeat;
background-position: 0 center;
padding-left: 35px;
}

/*Таблица*/
.features-line th{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color:#464646;
  letter-spacing: 0.01em;
}
.features-line td{
  font-family: "Gilroylight", "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.service-service-description{
  background-color: #e5e5e5;
}

.service-item{
  list-style: none;
}

.partner-1{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-1.png");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 0.2;
}

.partner-1:hover{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-1_hover_red.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 1;
}

.partner-2{
  display: inline-block;
  background-image: url("../img/logo-2.png");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 0.2;
  vertical-align: baseline;
}

.partner-2:hover{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-2_hover_blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 1;
}

.partner-3{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 0.2;
}

.partner-3:hover{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-3_hover_blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 1;
}

.partner-4{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-4.png");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 0.2;
}

.partner-4:hover{
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/logo-4-hover_blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width:260px;
  min-height: 100px;
  opacity: 1;
}

.about-us-description{
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color:#464646;
  }

.about-us-1{
  padding-top: 11px;
}


.about-us-2{
  padding-top: 16px;
  margin-bottom: 64px;
}

.about-us-3{
  padding-top: 21px;
  margin-bottom: 23px;
}

/*footer*/
.main-footer{
  background-color: #464646;
  color:#ffffff;
}

.footer-contacts,
.footer-phone{
  color:#ffffff;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.footer-contacts{
  text-align: left;
}
.footer-phone{
  text-align: right;
}
.footer-servise a{
  color:#ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

.footer-servise a:hover{
  opacity: 0.6;
}

.footer-servise a:active{
  opacity: 0.3;
}

.user-navigation-footer a{
  color:#ffffff;
}

.user-navigation-footer{
  opacity: 0.7;
}

.user-navigation-footer a:hover{
  opacity: 1;
}

.user-navigation-footer a:active{
opacity: 0.3;
}

.footer-social a{
  opacity: 0.3;
  color:#ffffff;
  text-transform: uppercase;
  }

.footer-social a:hover {
  opacity: 0.6;
}
.footer-social a:active {
  opacity: 0.1;
}
.footer-social ul {
  list-style: none;
  text-align: center;
}

.user-navigation-footer{
  text-align: right;
  cursor: pointer;
  position: relative;
}
.user-navigation-footer,
.footer-copyright{
  text-align: right;
  cursor: pointer;
  position: relative;
  margin-bottom: 39px;
}
.footer-copyright::after{
  content: "";

  position: absolute;
  top: 44px;
  left: 325px;
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

.footer-copyright:hover{
  opacity: 0.6;
}

.footer-copyright:active{
  opacity: 0.3;
}


/*pop up*/
.write-us-user-text{
  font-size: 18px;
  line-height: 24px;
}
.write-us-form{
  background-color: #f2f2f2;
  border: none;
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
  }

.write-us-form:focus{
  opacity: 0.8;
  outline:1px solid #f7e296;
}

.write-us-form:active{
  opacity: 0.5;
}

.write-us-form:invalid{
  opacity: 0.5;
  background-color: #f6dada;
  outline:1px solid #f6dada;
}

.write-us-send {
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  padding-left: 36px;
  position: relative;
  z-index: 1;
}

.write-us-send::after {

    content: "";
    position: absolute;
    top: 7px;
    width: 200px;
    height: 7px;
    background-color: #f0c52e;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
    z-index: -1;
    left: -2px;
  }

/*Следующая страница - catalog*/

/*кнопка выйти*/
.logout,
.logout-footer{
  opacity: 0.3;
}

.logout:visited,
.logout-footer:visited{
  opacity: 0.3;
}

/*каталог товаров*/
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  margin-left: 60px;
}

.breadcrumbs li{
  list-style:none;

  position: relative;
  margin-right: 42px;
}

.breadcrumbs-after::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 70px;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.breadcrumbs-after-2::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 126px;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.breadcrumbs a{
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
}

.breadcrumbs a:hover{
  opacity: 0.6;
}

.breadcrumbs a:active{
    opacity: 0.1;
}

.filters-filtr{
  background-color: #dcdcdc;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: left;
  padding:  23px 0;
  padding-left: 200px;
  margin: 0;
  }

.sort-item{
  background-color: #ebebeb;
}
.sort-item h3{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.2em;
  }
.filter-cost{
  border-top: 2px solid #000000;
  padding-right: 103px;
  padding-top:10px;
  padding-left: 0;

  line-height: 24px;
  letter-spacing: 0.01em;
}
.filter-cost-number{
  opacity: 0.2;
}

.popular-2{
  margin-top:32px;
}
.sort-item-type,
.sort-item-popular,
.sort-item-price {
  font-family: "Open Sans Regular", Arial,  sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  }

  .sort-item-price {
    font-family: "Open Sans Regular", Arial,  sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
    }

.sort-item-price:hover,
.sort-item-type:hover,
.sort-item-popular:hover{
  opacity: 0.6;
  }
.price-checked,
.sort-item-price:active,
.sort-item-type:active,
.sort-item-popular:active{
  opacity: 1;
  }

  /*кнопка по цене нажата, но нужна еще взаимосвязь со стрелками вверх-вниз.*/
  .sort-item-price:visited {
  color: #000000;
  }



.filters li{
  list-style: none;
  }

.label-color,
.button {
  cursor: pointer;
}
.label-color{
  font-family: "Open Sans Light", Arial,  sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-input:hover + label,
.filter-input:focus + label {

}

.filter-input:disabled + label {
  color:#a6a6a6;
}

.products-item a{
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
}
.products-category{
  float:left;
}

.products-item-price{
  float: right;
  margin:0;
}
.products-header{
  margin:0;
  margin-top: 24px;
}

.products .products-item-price{
  font-family: "Gilroylight", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#464646;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-item a{
  font-size: 16px;
  line-height: 24px;
}

/*Кнопки products-button*/
.products-button{
  background-color: #ebebeb;
}

/*кнопки назад вперед*/
.gallery-button{
  background-color: #ebebeb;
  border: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Gilroyextrabold", "Open Sans", Arial, sans-serif;
  font-weight: 800;
  }
.gallery-button-back:active,
.gallery-button-next:active{
  opacity: 0.3;
  outline: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}
.gallery-button-back:hover,
.gallery-button-next:hover{
  background-color: #d9d9d9;
  outline: 1px solid #d9d9d9;
}
/*цифры 1,2,3,4*/
.pagination-item-current a,
.pagination-item-current a:active{
  opacity: 1;
}
.pagination-item-current a:hover{
  opacity: 0.6;
}

.pagination-item-2 a,
.pagination-item-3 a{
  opacity: 0.3;
}


/*СОЗДАНИЕ СЕТКИ ЛЕКЦИЯ 6*/
.container {
  width: 1439px;
  margin: 0 auto;
  padding: 0;

}

.container-min{
  width: 1160px;
  margin: 0 auto;
}

.for-logo{
  position: relative;
  margin-bottom: 60px;
}
/*шапка сайта*/
.user-navigation-color{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}



.user-navigation-user{
  margin-top:33px;
  margin-bottom: 31px;
}

.user-navigation-user{
  display: flex;
  justify-content: space-between;
}

.main-navigation{
  display: none;
  position: absolute;
  }

.main-catalog{
  padding-bottom: 102px;
}
.width-catalog{
  padding:0px;
}
 .catalog-product-nav{
   font-size:18px;
   line-height: 24px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   margin:  0;
   position: relative;
   z-index: 10;
   }

   .catalog-product-nav::after {
     content: "";

     position: absolute;
     top: 4px;
     left: 231px;
     width: 37px;
     height: 30px;

     background-image: url("../img/plus.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     opacity: 1;
     }

 .catalog-nav ul{
   margin:0;
   padding: 0;
   list-style: none;
   font-family: "Open Sans Light", Arial, sans-serif;
   font-size:15px;
   font-weight: 300;
   line-height: 36px;
   letter-spacing: 0.01em;
  text-transform: none;
 }
 .catalog-product-nav:hover .main-navigation {
   display: block;
   z-index: 20;
   background-color: #f7e296;

 }
 .catalog-product-nav:hover .catalog-nav-block{
   display: block;
   z-index: 20;
 }

 .catalog-product-nav:hover .main-catalog{
   width: 1102px;
    left: -60px;
    padding-left: 58px;
    margin-top: 20px;
    padding-bottom: 33px;
  }
  .catalog-name:hover{
    opacity: 0.6;
  }
  .catalog-name:active{
    opacity: 0.3;
  }

 .catalog-product-nav:hover+ .main-navigation,
 .catalog-product-nav:active+ .main-navigation,
 .catalog-product-nav:focus+ .main-navigation{
    display: block;
}
 .first-column:hover,
 .first-column:active,
 .first-column:focus{
     display: block;
 }

.catalog-nav {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}

.catalog-group {
  padding-right: 61px;
  padding-top: 21px;
}
.catalog-group:nth-last-child(1){
    padding-right: 0;
}

.user-navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:500px;
  margin-top: 9px;
}

.site-nav{
  letter-spacing: 0.2em;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  top:-42px;
  left: 501px;
  margin-bottom:6px;
}
.for-index{
  padding-bottom: 112px;
}

.for-catalog{
  margin-bottom: -23px;
}
.site-nav li{
list-style: none;
padding:0;
}

.site-nav-delivery{
margin-right: 26px;
}

.site-nav-garanty{
  margin-right: 100px;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
}

.site-nav a{
  display: block;
}

/*Войти, сравнить, корзина*/
.user-navigation-footer{
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size:15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.user-navigation a{
  display: inline-block;
  vertical-align: middle;
}

/*войти*/
 .login-link{
  padding-right: 35px;
  position: relative;
  top:1px;
}

.user-navigation .login-link{
  padding-right: 210px;
  padding-left: 27px;
  position: relative;
  top:1px;
}
.login-link::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;
  width: 13px;
  height: 13px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

  .login-link:hover::before{
  opacity: 0.6;
}

.login-link:active:active{
    opacity: 0.3;
}

/*сравнить*/
.user-navigation .compare{
  padding-right: 34px;
  padding-left: 28px;
  top:1px;
  position: relative;
}

.compare::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 8px;
  width: 13px;
  height: 13px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

.compare:hover::before{
  opacity: 0.6;
}

.compare:active{
    opacity: 0.3;
}

/*корзина*/
.login-link-footer{
  padding-right: 59px;
}

.compare-footer{
  padding-right: 63px;
}
.user-navigation .basket{
  margin-left:auto;
  position: relative;
  padding-right: 1px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -23px;
  width: 13px;
  height: 13px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

.basket:hover::before{
  opacity: 0.6;
}

.basket:active:active{
    opacity: 0.3;
}
/*Войти сравнить корзина ФУТЕР*/
/*Войти, сравнить, корзина*/
.user-navigation-footer a{
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.login-link-footer::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 13px;
  right: 116px;
  bottom: 7px;
  background-image: url("../img/user_yellow.svg");

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }
/*войти*/


.login-link-footer:hover::before{
  opacity: 0.6;
}

.login-link-footer:active:active{
    opacity: 0.3;
}

/*сравнить*/
.user-navigation .compare-footer{
  padding-right: 34px;
  padding-left: 28px;
  top:1px;
  position: relative;
}

.compare-footer::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -19px;
  width: 13px;
  height: 13px;

  background-image: url("../img/compare_yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

.compare-footer:hover::before{
  opacity: 0.6;
}

.compare-footer:active{
    opacity: 0.3;
}

/*корзина*/
.user-navigation .basket-footer{
  margin-left:auto;
  position: relative;
  padding-right: 1px;
}

.basket-footer::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -23px;
  width: 13px;
  height: 13px;

  background-image: url("../img/cart_yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  }

.basket-footer:hover::before{
  opacity: 0.6;
}

.basket-footer:active:{
    opacity: 0.3;
}




.main-header{
  margin-top: 40px;
}

.main-logo-top{
  position: absolute;
  left:59px;
  top:-20px;

  cursor: pointer;
}

.main-logo img{
  width: 163px;
  height: 36px;
  margin-bottom: 21px;
  }



.galery-content .slider-1{
  width: 384px;
  height: 486px;
}

.galery-content .slider-2{
  width: 345px;
  height: 485px;
}

.galery-content .slider-3{
  width: 526px;
  height: 334px;
}
.contacts-map{
  width: 560px;
  height: 222px;
}

.map-big{
  width: 994px;
  height: 593px;
}

/*Популярные товары:экшн камера и тп*/
.catalog{
  display: flex;
  justify-content: space-between;
  margin-bottom: 168px;
}
.catalog-item{
  width: 160px;
  margin-right: 40px;
}

.catalog-category-order{
  order:2;
}

.catalog-item-picture{
  order:1;
  width:97px;
  margin:20px auto;
  }
.catalog-item:nth-child(6n) {
  margin-right: 0;
}

.catalog-item-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

/*Доставка, гарантия, кредит */
.site-wrapper-2{
  background-color: #e5e5e5;
  margin-bottom: 94px;
}

.slider-2 {
  display: flex;
  }

/*Заголовок*/
.slider-controls-2{
  width: 278px;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000000;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  margin-top: -98px;
  padding-bottom: 119px;
  z-index: 1;
}


/*Заголовки*/
.slider-button{
  position: relative;

  padding-top: 8px;
  padding-bottom: 7px;
  margin-bottom: 25px;


  cursor: pointer;
}

.slider-delivery{
  margin-top:81px;
  padding-left: 20px;
}
.slider-garanty{
  padding-left: 25px;
}

.slider-credit{
  padding-left: 38px;
}

.slider-controls-2 label::before {
  content: "";

  position: absolute;
  top:17px;
  left:2px;
  width: 160px;
  height: 10px;
  background-color: #f0c52e;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
  }


.slider-controls-2 label:hover::before{
  height: 100%;
  top:0;
}

/*описание*/
.slider-list-2{
  width: 460px;
  display: flex;
  flex-direction: column;
  list-style:none;
  padding: 0;
  margin: 0;
  margin-top: -26px;
  padding-left: 118px;
  padding-bottom: 60px;
}

.slide-second {
  display: none;
}


.description-background-04::after{
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -232px;
  bottom: -6px;
}

  .description-background-05::after{
  content: "";
  position: absolute;
  right: -232px;
  bottom: -6px;
  width: 171px;
  height: 194px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

.description-background-06::after{
  content: "";
  position: absolute;
  right: -232px;
  bottom: -6px;
  width: 156px;
  height: 186px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }




#product-4:checked ~ .site-wrapper-2 #slide4,
#product-5:checked ~ .site-wrapper-2 #slide5,
#product-6:checked ~ .site-wrapper-2 #slide6 {
  display: block;
}


#product-4:checked ~ .site-wrapper-2 label[for="product-4"],
#product-5:checked ~ .site-wrapper-2 label[for="product-5"],
#product-6:checked ~ .site-wrapper-2 label[for="product-6"] {
color: #f7e184;
background-color: #000;
-webkit-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}






/*партнеры*/
.partners{
  display: flex;
  justify-content: space-between;
  margin-bottom: 134px;
}

/*Блок О нас-Контакты*/
.about-us-contacts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.about-us{
  width: 463px;
  position: relative;
}
.about-us::before{
  content: "";
  position: absolute;
  width: 81px;
  height: 8px;
  background-color: #000000;
  z-index: 2;
  top: -53px;
}

.contacts{
  width: 560px;
  position: relative;
}

.contacts::before{
  content: "";
  position: absolute;
  width: 81px;
  height: 8px;
  background-color: #000000;
  z-index: 2;
  top: -53px;
}
/*footer*/
.wrapper{
  width:100%;
  background-color: #464646;
}
.main-footer{
  display: flex;
}

.footer-social {
  padding-top: 38px;
  padding-bottom: 90px;
}

.footer-contacts{
  width: 260px;
  padding-top:65px;
  padding-left: 140px;
  padding-right: 161px;
  margin: 0;

  position: relative;
}
 .footer-contacts::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 8px;
  background-color: #ffc600;
  z-index: 2;
  top: 238px;
  left: 141px;
}

.footer-servise ul,
.footer-social ul{
  margin:0;
  padding: 0;

}
.navigation-phone{
  width: 440px;
  margin-right: 138px;
  padding-top: 61px;
}

.service-social{
  width: 440px;
  padding-top:135px;
}

/*.social-button-fb{
    background-image: url("../img/fb.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}*/

.social-button-fb::before {
  content: "";

  position: absolute;
  width: 35px;
  height: 33px;
  left: 690px;

  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
  }

.social-button-inst::before {
content: "";

position: absolute;
width: 35px;
height: 33px;
left:783px;
background-image: url("../img/instagram.svg");
background-repeat: no-repeat;
background-position: 0 0;

opacity: 1;
}
.social-button-inst::before {
  content: "";

  position: absolute;
  width: 35px;
  height: 33px;
  left:745px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
  }

  .social-button-twit::before {
    content: "";

    position: absolute;
    width: 35px;
    height: 33px;
    left:798px;
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 1;
    }
/*Напишите нам*/
.modal{
  margin-top:124px;
  width: 960px;
  margin:0 auto;
}

.write-us-form{
  width:360px;
}

.write-us-width{
  width: 760px;
}
/*каталог*/
.title-common{
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

/*выстраивает списки в строку*/

.site-nav li,
.footer-servise li,
.footer-social li{
  display: inline-block;
  vertical-align: baseline;

  cursor: pointer;
  }

.products{
  width: 850px;
}

.products-item-image{
  margin:0;
  margin-top: 70px;
  margin-left:0;
}
.filter-sort-name{
  float:left;
  width: 467px;
}
.products-item-photo{
  margin-top: 44px;
}


.sort-item h3{
  float:left;
  width: 160px;
  margin:0;
  padding: 23px 0;
  padding-left:73px;
  padding-right: 40px;
}
.sort-item-float{
  float:left;
  width: 560px;
  padding: 16px 0;
}

.sort-item-popular::before{
  content: "";

  position: absolute;
  right: 208px;
  bottom: -67px;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
  }

  .sort-item-popular::after{
    content: "";

    position: absolute;
    right: 179px;
    bottom: -66px;
    width: 11px;
    height: 10px;

    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
    }
}
.sort-item-price{
  width: 60px;
  padding-right: 15px;
}

.sort-item-type{
  width: 60px;
  padding-left: 10px;
  padding-right: 20px;
}
.filter-sort{
  width: 100%;
  background-color: #ebebeb;
}

.clearfix::after{
	clear: both;
	content: '';
	display: block;
}
/*фильтр и продукты*/
.filters-products{
  display: flex;
  /*justify-content: space-between;*/
}

.products-item{
  width: 360px;
  padding: 0;
  margin: 0;
  }

.products-list{
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  margin-bottom: 36px;
}

.products-list li{
  margin:0;
  margin-right: 40px;

   list-style: none;
}

.products-list li:nth-child(2n) {
  margin-right: 0;
}

.products-list li:nth-child(1),
.products-list li:nth-child(3) {
    margin-left: 72px;
}

.products-item-picture{
  width:360px;
  height: 380px;
}

.products-button{
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gallery-button-back,
.gallery-button-next{
  width: 133px;
}

.pagination-item-current{
  display: inline-block;
  vertical-align: baseline;
  }
.pagination-list li{
  margin-right: 12px;
    margin-left: 12px;
}

/*слайдеры*/

.galery-content-1{
  position: absolute;
  top:210px;
  z-index: 1;
  left: 230px;
}

/*форма с бегунком каталог*/

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
  width: 200px;
}

.range-filter {
  width: 200px;
}

/*ползунки*/
.range-controls {
 position: relative;
  height: 12px;
  left:1px;

  border-radius: 5px;
  /*шкала по центру элемента*/
    padding-top: 36px;

    cursor: pointer;

}
/*стили шкалы*/
.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}
/*шкала внутри*/
.range-controls .bar {
  width: 53%;
  height: 2px;

  background: #00ca74;
}
/*кружки*/
.range-controls .toggle {
  position: absolute;
  top:26px;
  left: -7px;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

/*двигает бегунок*/
.range-controls .toggle-min {

}

.range-controls .toggle-max {
  left: 106px;
}
/*нижняя часть*/
.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 37%;

  background-color: #eeeeee;

  font-family: "Gilroylight", "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
  margin-bottom: 30px;

}

.price-controls input {
  width: 35px;
  text-align:left;
  font-family: "Gilroylight", "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  margin-left: 5px;

  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

/*блок до 5000*/
.max-price {
  text-align: right;
}
.form-filter{
  width: 468px;
  box-sizing: border-box;

  background-color: #eeeeee;
  padding-left: 200px;
  padding-top: 70px;
}

.color{
  border-top: 2px solid #000000;

  line-height: 24px;
  letter-spacing: 0.01em;
  width: 200px;
  padding-top:10px;
  margin-bottom:19px;

  }
  .bluetooth{
    border-top: 2px solid #000000;

    line-height: 24px;
    letter-spacing: 0.01em;
    width: 200px;
    padding-top: 11px;
  }

.filter-item-color{
  border:none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.filter-item-color-2{
  border:none;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
  padding-top: 18px;
}
.filter-ul {
  padding: 0;
  margin: 0;
  padding-left: 39px;

  list-style: none;
}
.filter-option{
  padding-top:0;
}
.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}
.unchecked + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 7px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -41px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio+ label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 7px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
}

.radio-unchecked+ label::after{
  content: "";

  position: absolute;
  top: 7px;
  left: -41px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}
